.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #007892;
}

h1 {
  margin: 30px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 7.5rem;
  color: #fc8210;
}

p {
  font-size: 2rem;
  color: #ffd8a6;
  font-family: "Indie Flower", cursive;
}

img {
  width: 80%;
}

button {
  width: max-content;
  margin: 5% 39% 5%;
  font-weight: bolder;
}

.reload-button {
  background-color: orangered;
  box-shadow: 0 8px 15px black;
}

button h4 {
  font-size: 1.5rem;
  text-align: center;
  vertical-align: middle;
  color: white;
  padding-top: 5%;
}

footer {
  margin-top: 5%;
  color: #eeeeee;
  text-align: center;
  font-family: "Indie Flower", cursive;
  font-weight: bold;
}

footer p {
  font-size: 1.2rem;
}
